#title {
  margin-top: 20px;
  margin-bottom: 20px;
}

html { 
 
}

.content-text {
  margin-top: 0.2em;
}

a {
  text-decoration: none;
  color: white!important
}

a:hover {
  text-decoration: none;
}

.icon {
  height: 16vh;
  min-width: 20%;
  max-width: 250px;
}

.icon img {
  height: 62%;
  min-width: 30px;
  max-width: 130px;
  -webkit-transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  transition-duration: 0.1s;
  /*border-radius: 1.5vh;*/
}

.icon img:hover {
/*box-shadow: 1px 1px 10px #A8A8A8;*/
}

#controls {
  margin-top: 5%;
  margin-bottom: 5%;
}

.logout {
background: #CECECE;
color:black !important;
padding: 10px 20px;
margin: 20px;
width: 100px;
-webkit-transition-duration: 0.2s;
-moz-transition-duration: 0.2s;
transition-duration: 0.2s;
border: solid 1px #ACACAC;
}

a.logout:hover {
background: #3a3c3d;
color: white !important;
border: solid 1px #1D1D1D;
}

input {
  padding: 10px 10px;
  border:solid 1px #c3c3c3;
  width: 100%;
  max-width: 25em;
  margin-top: 15px;
}

input:focus {
border-color: rgba(82, 168, 236, 0.8);
outline: 0;
outline: thin dotted 9;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075),0 0 8px rgba(82, 168, 236, .6);
-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(82,168,236,.6);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075),0 0 8px rgba(82, 168, 236, .6);
outline: none;

}

.uname {
  /*border-radius: 9px 9px 0 0;*/
  margin-bottom: 0;
}

.pass {
  /*border-radius: 0 0 9px 9px;*/
  margin-top: -1px;
}

.old-pass {
  /*border-radius: 0 0 9px 9px;*/
  margin-top: -1px;
}

.new-pass1 {
  /*border-radius: 9px 9px 0 0;*/
  margin-bottom: 0;
}

.new-pass2 {
 /* border-radius: 0 0 9px 9px;*/
  margin-top: -1px;
}

.button {
  background: #313131;
  color: #ECECEC;
  border: none;
  padding: 9px 80px;
  font-size: 16px;
  margin-top: 10px;
  width: 200px;
  cursor: pointer;
}

.button:hover {
  background: #1c1c1c;
  color: white;
}


.disclaimer {
  margin: auto;
  margin-top: 15px;
  font-size: 12px;
  color: #9c9c9c;
  max-width: 400px;
}

.logo {
  margin-top: 10px;
  width: 220px;
}

@media (max-width: 768px) {
  #title img {
    width: 100%;
    max-width: 40%;
  }
  body {
    text-align: center !important;
    font-size: 1.0em;
  }
  .icon {
    height: 16.5vh;
    min-width: 25%;
    min-height: 85px;
    text-align: center;
    padding: 0px 7px;
  }
}


@media (max-width: 480px) {
  #title img {
    width: 100%;
    max-width: 40%;
  }
  body {
    text-align: center !important;
    font-size: 1.0em;
  }
  .icon {
    height: 14vh;
    min-width: 25%;
    min-height: 85px;
    text-align: center;
    padding: 0px 7px;
  }
}

@media (max-width: 320px) {
  #title img {
    width: 100%;
    max-width: 40%;
  }
  body {
    text-align: center !important;
    font-size: 1.0em;
  }
  .icon {
    height: 13.5vh;
    min-width: 32%;
    min-height: 85px;
    text-align: center;
    padding: 0px 7px;
  }
}

/*@media (min-width: 1200px) {
  .container {
    width: 1500vh;
  }
}*/

body *:hover {
    -webkit-animation-name: spaceboots;
    -webkit-animation-duration: 3s;
    -webkit-transform-origin: 50% 50%;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear
}

@-webkit-keyframes spaceboots {
    0% {
        -webkit-transform: translate(2px,1px) rotate(0deg);
                transform: translate(2px,1px) rotate(0deg)
    }

    10% {
        -webkit-transform: translate(-1px,-2px) rotate(-0.5deg);
                transform: translate(-1px,-2px) rotate(-0.5deg)
    }

    20% {
        -webkit-transform: translate(-3px,0px) rotate(0.5deg);
                transform: translate(-3px,0px) rotate(0.5deg)
    }

    30% {
        -webkit-transform: translate(0px,2px) rotate(0deg);
                transform: translate(0px,2px) rotate(0deg)
    }

    40% {
        -webkit-transform: translate(1px,-1px) rotate(0.5deg);
                transform: translate(1px,-1px) rotate(0.5deg)
    }

    50% {
        -webkit-transform: translate(-1px,2px) rotate(-0.5deg);
                transform: translate(-1px,2px) rotate(-0.5deg)
    }

    60% {
        -webkit-transform: translate(-3px,1px) rotate(0deg);
                transform: translate(-3px,1px) rotate(0deg)
    }

    70% {
        -webkit-transform: translate(2px,1px) rotate(-0.5deg);
                transform: translate(2px,1px) rotate(-0.5deg)
    }

    80% {
        -webkit-transform: translate(-1px,-1px) rotate(0.5deg);
                transform: translate(-1px,-1px) rotate(0.5deg)
    }

    90% {
        -webkit-transform: translate(2px,2px) rotate(0deg);
                transform: translate(2px,2px) rotate(0deg)
    }

    100% {
        -webkit-transform: translate(1px,-2px) rotate(-0.5deg);
                transform: translate(1px,-2px) rotate(-0.5deg)
    }
}
